@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <img src="~/Images/Logo.png" alt="Centered Image" width="494" height="440">
</div>
<div class="text-center">
    <h1 class="logo-one font-weight-bold display-4">Виртуальная лаборатория</h1>
    <h2 class="logo-two">Веб сервис</h2>
</div>
    