@model IEnumerable<Lab>

@{
    ViewData["Title"] = "Лабораторные работы";
}

<h1>Лабораторные работы</h1>

<p>
    <a asp-action="AddLab">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название лабораторной работы
            </th>
            <th>
                Количество шагов
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Steps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Lab_Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>